

#app .bg-red{
	background: #ea4c53;
}

.img-avatar{
	width:40px;
	height:40px;
	float:left;
	margin-right:25px;
	margin-top:0px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-toggler{
	color: #ffffff!important;
}


.a-user{
	color: #ffffff!important;
	line-height: 35px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #eee;
    color: #555;
}

a:focus, a:hover {
    color: #014c8c;
    text-decoration: none!important;
}

}
@media screen and (-webkit-min-device-pixel-ratio:0){input[type=date],input[type=time],input[type=datetime-local],input[type=month]{line-height:34px}input[type=date].input-sm,input[type=time].input-sm,input[type=datetime-local].input-sm,input[type=month].input-sm{line-height:30px}input[type=date].input-lg,input[type=time].input-lg,input[type=datetime-local].input-lg,input[type=month].input-lg{line-height:46px}}