
// Body
$body-bg: #f5f8fa;

$body-color: #fffff;

$spacer: 1rem;

$enable-rounded: true;

$enable-shadows: false;

$enable-hover-media-query: false;

$enable-grid-classes: true;

$enable-print-styles: true;